body {
      
}

h1 {
	font-size: 6rem;
}

.maintitle {
	position: fixed;
	top: 40%;
	font-size: 130%;
	background-color: #ffffff;	
}

section {
	margin-top: 6rem;
}

#navigation {
  width: 100%;
  position: fixed;
  list-style: none;
  padding: 1%;
}

#navigation li {
  display: inline;
  margin-bottom: 1px ;
  padding: 1% ;
}

#navigation li a {
  color: #2c2c7f ;
  font-size: 130% ;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  text-decoration: underline ;
}

#trailer {
	position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

.invitation {
  text-align: center;
  border: 0;
  font-size: 0;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
}
