body {
   background-image: url("../img/lyonlight.jpg");
   background-position: center;    
}

h1 {
	font-size: 6rem;
}
.maintitle {
	background-color: rgba(4,4,4,0.2);
	border-radius: 1% ;
}
section {
	margin-top: 6rem;
}


img{
	margin: 6rem auto;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
}